body {
  height: 3028px;
  background-color: rgba(255, 255, 255, 1);
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  margin: 92px 24px 0px 24px;
}

.header_menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header_links-list {
  display: flex;
  letter-spacing: 0.2px;
  gap: 30px;
  list-style-type: circle;
  font-size: 18px;
  text-decoration-skip-ink: none;
}

.header_link {
  text-decoration-line: underline;
  text-underline-offset: 5px;
}

.header_links-list-item_no-bullit {
  list-style-type: none;
}

.header_link_active {
  text-decoration: none;
}

.header_logo {
  display: flex;
  min-width: 148px;
}

.header_logo-img {
  width: 100%;
  height: 105px;
}

.address {
  width: 263.52px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 18px;
  text-underline-offset: 5px;
  justify-self: end;
}

.header_address {
  font-style: normal;
}

.cover {
  display: block;
  margin-top: 96px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 167px 49px 54px 48px;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.cover_wrapper {
  max-width: 1000px;
  margin: 0 auto;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

h1 {
  letter-spacing: 31px;
}

.cover_title {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 31px;
  line-height: 120px;
  gap: 2px;
}


.aligned-text_center {
  padding-left: 285px;
  float: right;
}

.letter-spacing-extanded {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.aligned-text_right {
  display: flex;
  letter-spacing: 30px;
  justify-content: flex-end;
}

.cover_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover_description-text {
  position: relative;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18px;
  padding-top: 133px;
  padding-left: 30px;
  padding-bottom: 11px;
  padding-right: 15px;
}

.bet-button {
  display: flex;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  border: 1px solid;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  padding: 15px 31px 10px 32px;
  margin-top: 120px;
  position: relative;
  font-family: inherit;
}

.lots {
  display: flex;
  padding-top: 180px;
  flex-direction: column;
}

.lots_heading {
  font-size: 40px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  padding-left: 64px;
}

.lots_card-list {
  display: flex;
  padding-top: 27px;
  padding-left: 24px;
  padding-bottom: 31px;
  gap: 25px;
}

.lots_card-list-item {
  display: flex;
  position: relative;
}

.card {
  display: flex;
  width: 334px;
  min-height: 563px;
}

.card_type {
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_title {
  text-transform: uppercase;
  font-size: 22px;
  text-decoration-skip-ink: none;
  text-decoration: underline;
  line-height: 26.4px;
  padding-top: 51px;
  padding-left: 40px;
  padding-right: 40px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  text-underline-offset: 2px;
}

.card_text {
  display: flex;
  padding: 0px 40px 0px 40px;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}

.card_text_film {
  min-height: 385px;
  align-items: flex-end;
}

.card_text_book {
  min-height: 385px;
}

.card_text_picture {
  min-height: 358px;
  align-items: flex-end;
}

.lots_look-more-link {
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  padding-left: 65px;
  text-decoration-skip-ink: none;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 360px 690px;
  padding: 182px 0px 0px 24px;
}

.about_column {
  padding-left: 48px;
}

.about_logo {
  background-color: black;
  display: inline-block;
  border-radius: 50%;
  height: 240px;
}

.about_logo-image {
  width: 240px;
  height: 240px;
  padding: 7px 46px 10px 47px;
}

.about_title {
  display: flex;
  font-size: 40px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  font-weight: 700;
  align-items: center;
}

.about_text {
  display: flex;
  flex-direction: column;
  grid-column: 2/2;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  row-gap: 26px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 182px;
  gap: 38px;
}

.footer_address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  align-items: flex-start;
  padding-left: 51px;
  line-height: 24px;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
  font-style: normal;
}

.footer_menu_links-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  font-size: 18px;
  text-underline-offset: 4px;
}

.footer_menu_link_active {
  text-decoration: none;
}

.footer_social-list {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.social-icon {
  width: 48px;
  height: 48px;
}
